 <% @reminders.each do |reminder| %>
  <div class="reminder">
    <h2><%= reminder.title %></h2>
    <p><%= reminder.content %></p>
    <p>Date: <%= reminder.date.strftime('%B %d, %Y') %></p>
    <%= link_to 'Show', reminder %>
    <%= link_to 'Edit', edit_reminder_path(reminder) %>
    <%= link_to 'Delete', reminder, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%= link_to 'New', new_reminder_path %>
