<% @reminders.each do |reminder| %>
  <div class="reminder">
    <h2><%= reminder.title %></h2>
    <p><%= reminder.content %></p>
    <p>Date: <%= reminder.date.strftime('%B %d, %Y') %></p>
    <%= link_to 'Show', reminder %>
    <%= link_to 'Edit', edit_reminder_path(reminder) %>
    <%= link_to 'Delete', reminder, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?" } %>
    <div data-controller="alert" data-alert-url-value="/reminders/<%= @reminders.id %>" data-alert-redirect-value="/reminders?reload=true">
      <%= link_to "Supprimer", reminder_path(@reminder), data: { action: "click->alert#delete", turbo_method: :delete } %>
    </div>
  </div>
<% end %>
