  <div class="card-reminder-show">
    <div class="title-and-date">
      <h1><%= @reminder.title %></h1>
    </div>
    <p class="date"><%= @reminder.start_time.strftime("%d/%m/%Y %H:%M") %></p>
    <p><%= @reminder.content %></p>
    <p><span class="patient-gray">Patient :</span> <%= @reminder.patient.first_name %> <%= @reminder.patient.last_name %> </p>
    <p><span class="category-gray">Catégorie :</span> <%= @reminder.category %></p>
    <p>
    <span class="category-gray">Fréquence:</span>
    <% case @reminder.frequency_unity.to_sym %>
    <% when :daily %>
      Chaque jour
    <% when :weekly %>
      Une fois par semaine
    <% when :monthly %>
      Une fois par mois
    <% when :yearly %>
      Une fois par an
    <% else %>
     Aucune
      <% end %>
    </p>
  </div>
  <div class="button-container">
  <%= link_to "Éditer", edit_reminder_path(@reminder), style: "margin-right: 10px;" %>
  <%= link_to "Supprimer", reminder_path(@reminder), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" } %>
</div>
