<div class="back_btn">
  <a href="/"><i class="fa-solid fa-backward"></i> Retour à l'accueil</a>
</div>

<h1>Conseils</h1>


<%# Carousel 1 Alimentation %>

<h2>Alimentation & Bien-être</h2>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to article_1_path do %>
        <div class="card-article">
          <div class="div">
            <div class="img-alimentation carousel-image">
              <img src="https://imagizer.imageshack.com/img924/995/RBzXbb.png" alt="" width="100%" class="food-img">
            </div>
            <div class="txt-alimentation">
              <h2 class="article-card-title">Les 10 Conseils pour une Alimentation Saine</h2>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <div class="carousel-item">
      <%= link_to article_4_path do %>
          <div class="card-article" width="100%">
            <div class="div">
            <img src="https://imagizer.imageshack.com/img922/5761/8p1eLd.png" alt="" width="100%" class="food-img2">
              <h2 class="article-card-title">Bien manger pour vivre mieux</h2>
            </div>
          </div>
      <% end %>
    </div>
    <div class="carousel-item">
    <%= link_to article_5_path do %>
        <div class="card-article">
          <div class="div">
            <img src="https://imagizer.imageshack.com/img922/3118/5dTYMC.png" alt="" width="100%" class="food-img3">
            <h2 class="article-card-title">Équilibre, Plaisir et Bien-Être</h2>
          </div>
        </div>
    <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# Carousel 2 Sport %>

<h2>Sport</h2>

<div id="carouselExample2" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to article_2_path do %>
        <div class="card-article">
          <div class="div">
          <img src="https://imagizer.imageshack.com/img924/4356/vCFwk0.png" alt="" width="100%" class="sport-img">
            <h2 class="article-card-title">Les Clés d'une Bonne Pratique Sportive</h2>
          </div>
        </div>
      <% end %>
    </div>
    <div class="carousel-item">
    <%= link_to article_6_path do %>
        <div class="card-article">
          <div class="div">
            <img src="https://imagizer.imageshack.com/img924/4356/vCFwk0.png" alt="" width="100%" class="sport-img2">
            <h2 class="article-card-title">L'impact de l'entraînement mental sur les performances sportives</h2>
          </div>
        </div>
    <% end %>
    </div>
    <div class="carousel-item">
    <%= link_to article_7_path do %>
        <div class="card-article">
          <div class="div">
            <img src="https://imagizer.imageshack.com/img924/4356/vCFwk0.png" alt="" width="100%" class="sport-img3">
            <h2 class="article-card-title">La Révolution de la Nutrition Sportive</h2>
          </div>
        </div>
    <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# Carousel 3 Sommeil %>

<h2>Sommeil</h2>

<div id="carouselExample3" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to article_3_path do %>
        <div class="card-article">
          <div class="div">
          <img src="https://imagizer.imageshack.com/img923/1124/D0W2wt.png" alt="" width="100%" class="sleep-img">
            <h2 class="article-card-title">Les Secrets d'un Bon Sommeil</h2>
          </div>
        </div>
      <% end %>
    </div>
    <div class="carousel-item">
    <%= link_to article_8_path do %>
      <div class="card-article">
        <div class="div">
          <img src="https://imagizer.imageshack.com/img923/1124/D0W2wt.png" alt="" width="100%" class="sleep-img2">
          <h2 class="article-card-title">Optimisez Votre Repos pour une Vie Plus Épanouie</h2>
        </div>
      </div>
    <% end %>
    </div>
    <div class="carousel-item">
    <%= link_to article_9_path do %>
      <div class="card-article">
        <div class="div">
          <img src="https://imagizer.imageshack.com/img923/1124/D0W2wt.png" alt="" width="100%" class="sleep-img3">
          <h2 class="article-card-title">Maximisez Votre Santé et Votre Productivité</h2>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
