<div class="navbar">
  <div class="container-fluid">
    <ul class="navbar">
      <li class="nav-item <%= 'active' if current_page?(reminders_path) %>">
        <a href="#"><i class="fa-solid fa-calendar"></i></a>
        <%= link_to "Rappel", "/reminders", class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(documents_path) %>">
        <a href="/documents"><i class="fa-solid fa-file"></i></a>
        <%= link_to "Documents", "/documents", class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(card_path) %>">
        <a href="/card"><i class="fa-solid fa-address-card"></i></a>
        <%= link_to "Carte", "/card", class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <%= link_to "Accueil", "/", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
