<div class="log-out">
  <a data-turbo-method="delete" href="/users/sign_out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a>
</div>

<%= cl_image_tag current_user.patient.photo.key, class:"avatar" %>
<h1 class="mb-3">Bonjour <%= current_user.patient.first_name%></h1>

<div class="card-reminder">
  <div class="div">
  <i class="fa-solid fa-bell"></i>
  <% first_patient = current_user.patients.first %>
  <% if first_patient.present? %>
    <% today_reminder = first_patient.reminders.find_by(start_time: Date.today) %>
    <% if today_reminder.present? %>
      <p>Votre rappel pour aujourd'hui : <strong> <%= today_reminder.title %></strong></p>
    <% else %>
      <p>Aucun rappel pour aujourd'hui</p>
    <% end %>
  <% end %>
</div>

</div>

<div class="d-flex justify-content-between mt-3">
  <a href="<%=patient_my_profile_path(current_user.patient) %>">
    <div class="card-home">
      <div class="div">
        <i class="fa-solid fa-user"></i>
        <h2>Profil</h2>
      </div>
    </div>
  </a>
  <a href="/my_bloodtests">
   <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-chart-line"></i>
      <h2>Suivi</h2>
    </div>
  </div>
  </a>
</div>

<div class="d-flex justify-content-between">
<a href="/articles">
  <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-lightbulb"></i>
      <h2>Conseils</h2>
    </div>
  </div>
  </a>

   <a href="<%= patients_path %>">
    <div class="card-home">
    <div class="div">
      <i class="fa-solid fa-users"></i>
      <h2 >Proches</h2>
    </div>
  </div>
  </a>
</div>

<%# preloader %>
<!--
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <div id="preloader">
			<div id="container" class="container-preloader">
				<div class="animation-preloader">
					<div>
            <img src="https://imagizer.imageshack.com/v2/437x437q70/r/923/UVROre.png" alt="" width="200" height="200">
          </div>
					<div class="txt-loading">
						<span preloader-text="S" class="characters">S</span>

						<span preloader-text="U" class="characters">U</span>

						<span preloader-text="I" class="characters">I</span>

						<span preloader-text="V" class="characters">V</span>

						<span preloader-text="I" class="characters">I</span>

            <br>

            <span preloader-text="S" class="characters">S</span>

						<span preloader-text="A" class="characters">A</span>

						<span preloader-text="N" class="characters">N</span>

						<span preloader-text="T" class="characters">T</span>

						<span preloader-text="E" class="characters">E</span>



					</div>
				</div>
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
			</div>
		</div>

<script>
$(document).ready(function() {
  setTimeout(function() {
    $('#container').addClass('loaded');
    // Once the container has finished, the scroll appears
    if ($('#container').hasClass('loaded')) {
      // It is so that once the container is gone, the entire preloader section is deleted
      $('#preloader').delay(5).queue(function() {
        $(this).remove();
      });}
  }, 1000);});
</script>
-->
