<div class="log-out">
  <a data-turbo-method="delete" href="/users/sign_out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a>
</div>

<%= cl_image_tag current_user.patient.photo.key, class:"avatar" %>
<h1 class="mb-3">Bonjour <%= current_user.patient.first_name%></h1>

<div class="card-reminder">
  <div class="div">
  <i class="fa-solid fa-bell"></i>
  <% if @first_patient.present? %>
    <% if @first_reminder.present? %>
        <% @first_reminder_date = @first_reminder.start_time.to_s %>
        <% @date_a_verifier = DateTime.parse(@first_reminder_date) %>
          <% if @date_a_verifier.day == @date_actuelle.day %>
            <p>Votre rappel pour aujourd'hui : <strong> <%= @first_reminder.title %></strong></p>
          <% else %>
            <p>Aucun rappel pour aujourd'hui</p>
          <% end %>
    <% else %>
      <p>Aucun rappel pour aujourd'hui</p>
    <% end %>
  <% end %>
</div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <a href="<%=patient_my_profile_path(current_user.patient) %>">
      <div class="card-home">
        <div class="div">
          <i class="fa-solid fa-user"></i>
          <h2>Profil</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a href="/my_bloodtests">
      <div class="card-home">
        <div class="div">
          <i class="fa-solid fa-chart-line"></i>
          <h2>Suivi</h2>
        </div>
    </div>
    </a>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <a href="/articles">
      <div class="card-home">
        <div class="div">
          <i class="fa-solid fa-lightbulb"></i>
          <h2>Conseils</h2>
        </div>
      </div>
      </a>
    </div>
  <div class="col-6">
    <a href="<%= patients_path %>">
      <div class="card-home">
        <div class="div">
          <i class="fa-solid fa-users"></i>
          <h2 >Proches</h2>
        </div>
      </div>
    </a>
  <div>
</div>
