<h1>Documents</h1>
<%= link_to "Nouveau Document", new_document_path, class: "btn button" %>
<div class="doc_count">
    <p class="left"><%= Document.count %> documents</p><p class="right">Filter</p>
</div>
<% @documents.each do |document|%>
  <div class="card-document">
    <div>
        <h3><%= document.title %></h3>
        <div class="eye_link">
        <%= link_to ('<i class="fa-solid fa-eye"></i>').html_safe, document_path(document) %>
        </div>
    </div>
    <div>
      <p><%= document.patient.first_name %> <%= document.patient.last_name %></p>
      <p><%= document.date %></p>
    </div>
    <div>
      <p><%= document.doctor %></p>
    </div>
  </div>
<% end %>
