<div class="log-out">
  <a data-turbo-method="delete" href="/users/sign_out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a>
</div>
<h2>Mes proches</h2>
<div class="card-patient-container">
  <% @patients.each do |patient| %>
      <div class="card-patient">
        <div>
          <%= cl_image_tag patient.photo.key, class:"medium-avatar" %>
          <div class="eye_link">
            <%= link_to ('<i class="fa-solid fa-eye"></i>').html_safe, patient %>
          </div>
         </div>
        <h2><%= "#{patient.first_name} #{patient.last_name}" %></h2>
        <p>Numéro de Sécurité Sociale: <%= patient.security_card_number %></p>
      </div>
  <% end %>
</div>
<%= link_to "Nouveau Patient", new_patient_path, class: "btn button" %>
