<% @patients.each do |patient| %>
<h2><%= "#{patient.first_name} #{patient.last_name}" %></h2>
  <p>Âge : <%= patient.age %></p>
        <%= link_to "Voir", patient %>
        <%= link_to "Éditer", edit_patient_path(patient) %>
        <%= link_to "Supprimer", patient,  data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?" }%>
<% end %>
<%= link_to "Nouveau Patient", new_patient_path %>
