<%= cl_image_tag  @patient.photo.key, class: "avatar"%>

<h2 style = "color: black"><%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
<p><%= @patient.address %></p>

<div class="card-row">
<div class="card-data">
  <h2>Numéro de Sécurité Sociale</h2>
  <p><%= @patient.security_card_number %></p>
</div>
</div>

<div class="card-row">
  <div class="card-data">
    <h2>Âge</h2>
    <p><%= @patient.age %> ans</p>
  </div>

  <div class="card-data">
    <h2>Hauteur</h2>
    <p><%= @patient.height %> cm</p>
  </div>
</div>

<div class="card-row">
  <div class="card-data">
    <h2>Poids</h2>
    <p><%= @patient.weight %> kg</p>
  </div>

  <div class="card-data">
    <h2>Groupe Sanguin</h2>
    <p><%= @patient.bloodtype %></p>
  </div>
</div>

<div class="card-row">
  <div class="card-data">
    <h2>Genre</h2>
    <p><%= @patient.gender %></p>
  </div>

  <div class="card-data">
    <h2>Allergies</h2>
    <p><%= @patient.allergies %></p>
  </div>
</div>
<div class="card-row">
  <div class="card-data">
    <h2>Maladies Chroniques</h2>
    <p style="white-space: pre-line"><%= @patient.chronic_illness %></p>
  </div>
</div>
<div class="button-container">
  <%= link_to "Éditer", edit_patient_path(@patient), style: "margin-right: 10px;" %>
</div>

<div class="center-button">
  <%= link_to "Retour à la page d'accueil", root_path, class: "btn button" %>
</div>
