<%= image_tag("logo.png", size: "100") %>

<h1>Bienvenue</h1>



<h2>Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, class: "text-left", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Connexion", class: "btn button mb-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<% session[:connexion_homepage] = 0 %>
