<%= image_tag("logo.png", size: "100") %>

<h1>Bienvenue</h1>



<h2>Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, class: "text-left", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Connexion", class: "button mb-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%# preloader %>
<!--
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div>
          <img src="https://imagizer.imageshack.com/v2/437x437q70/r/923/UVROre.png" alt="" width="200" height="200">
        </div>
        <div class="txt-loading">
          <span preloader-text="S" class="characters">S</span>

          <span preloader-text="U" class="characters">U</span>

          <span preloader-text="I" class="characters">I</span>

          <span preloader-text="V" class="characters">V</span>

          <span preloader-text="I" class="characters">I</span>

          <br>

          <span preloader-text="S" class="characters">S</span>

          <span preloader-text="A" class="characters">A</span>

          <span preloader-text="N" class="characters">N</span>

          <span preloader-text="T" class="characters">T</span>

          <span preloader-text="E" class="characters">E</span>
        </div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>
<script>
$(document).ready(function() {
  setTimeout(function() {
    $('#container').addClass('loaded');
    // Once the container has finished, the scroll appears
    if ($('#container').hasClass('loaded')) {
      // It is so that once the container is gone, the entire preloader section is deleted
      $('#preloader').delay(5).queue(function() {
        $(this).remove();
      });}
  }, 1500);});
</script>
-->
