<!DOCTYPE html>
<html>
  <head>
    <title>SuiviSante - Consultez votre carnet de santé en ligne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Retrouvez tous vos documents médicaux et vos proches avec SuiviSante." />
    <meta property="og:image" content="https://siecledigital.fr/wp-content/uploads/2023/01/Docteur-avec-smartphone-940x550.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <link rel="favicon" type="image/png" href="logo.png" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="@sweetalert2/theme-bootstrap-4/bootstrap-4.css">
  </head>

  <body>
  <%= render "shared/flashes" %>
  <div class="container text-center my-3 m-auto w-100">
    <%= yield %>
 </div>
  <%= render "shared/navbar" %>

  <%# preloader %>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <div id="preloader">
			<div id="container" class="container-preloader">
				<div class="animation-preloader">
					<div>
            <img src="https://imagizer.imageshack.com/v2/437x437q70/r/923/UVROre.png" alt="" width="200" height="200">
          </div>
					<div class="txt-loading">
						<span preloader-text="S" class="characters">S</span>

						<span preloader-text="U" class="characters">U</span>

						<span preloader-text="I" class="characters">I</span>

						<span preloader-text="V" class="characters">V</span>

						<span preloader-text="I" class="characters">I</span>

            <br>

            <span preloader-text="S" class="characters">S</span>

						<span preloader-text="A" class="characters">A</span>

						<span preloader-text="N" class="characters">N</span>

						<span preloader-text="T" class="characters">T</span>

						<span preloader-text="E" class="characters">E</span>



					</div>
				</div>
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
			</div>
		</div>

  </body>
<script>
$(document).ready(function() {
  setTimeout(function() {
    $('#container').addClass('loaded');
    // Once the container has finished, the scroll appears
    if ($('#container').hasClass('loaded')) {
      // It is so that once the container is gone, the entire preloader section is deleted
      $('#preloader').delay(5).queue(function() {
        $(this).remove();
      });}
  }, 3000);});
</script>
</html>
